SoapWs/src/main/webapp/WEB-INF/wsdl/HelloWsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://ensup.eu/" name="HelloWsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ensup.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ensup.eu/" schemaLocation="HelloWsService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="CalltrackString">
    <part name="parameters" element="tns:CalltrackString"/>
  </message>
  <message name="CalltrackStringResponse">
    <part name="parameters" element="tns:CalltrackStringResponse"/>
  </message>
  <message name="CallRest">
    <part name="parameters" element="tns:CallRest"/>
  </message>
  <message name="CallRestResponse">
    <part name="parameters" element="tns:CallRestResponse"/>
  </message>
  <message name="SaveTrack">
    <part name="parameters" element="tns:SaveTrack"/>
  </message>
  <message name="SaveTrackResponse">
    <part name="parameters" element="tns:SaveTrackResponse"/>
  </message>
  <portType name="HelloWs">
    <operation name="CalltrackString">
      <input wsam:Action="http://ensup.eu/HelloWs/CalltrackStringRequest" message="tns:CalltrackString"/>
      <output wsam:Action="http://ensup.eu/HelloWs/CalltrackStringResponse" message="tns:CalltrackStringResponse"/>
    </operation>
    <operation name="CallRest">
      <input wsam:Action="http://ensup.eu/HelloWs/CallRestRequest" message="tns:CallRest"/>
      <output wsam:Action="http://ensup.eu/HelloWs/CallRestResponse" message="tns:CallRestResponse"/>
    </operation>
    <operation name="SaveTrack">
      <input wsam:Action="http://ensup.eu/HelloWs/SaveTrackRequest" message="tns:SaveTrack"/>
      <output wsam:Action="http://ensup.eu/HelloWs/SaveTrackResponse" message="tns:SaveTrackResponse"/>
    </operation>
  </portType>
  <binding name="HelloWsPortBinding" type="tns:HelloWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="CalltrackString">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CallRest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SaveTrack">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="HelloWsService">
    <port name="HelloWsPort" binding="tns:HelloWsPortBinding">
      <soap:address location="http://localhost:8080/SOAPWs"/>
    </port>
  </service>
</definitions>

